/* Set height of body and the document to 100% to enable "full page tabs" */
#toggle_mode{
  background-color: blue;
   border-color: white;
   color: white;
   padding: 14px;
   font-size: 25px;
   width: 24%;
 }

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.titles{
	color: black;
	font-size: 25px;
}

#content_dialer_keypad{
  width: 50%;
}

.dialer_keys {
	background: #777777;
	color: white;
	width: 25%;
  padding: 20px 20px;
  font-size: 25px;
  border: none;
}

/* Style tab links */
.tab_links {
  background-color: #555555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px;
  font-size: 25px;
  width: 24%;
}


.tabs_names {
  color: black;
  display: none;
  padding: 100px 20px;
  float: inherit;
}

th{
  text-align: left;
}

#dialer {background-color: #11db68;}
#contacts {background-color: #f23a3a;}
#add_contacts {background-color: #3b80ef;}



#content_dialer_keypad_dial{
  width: 38%;
  background-color: #11db68;
}

#content_dialer_keypad_clear{
  width: 38%;
  background-color: #f23a3a;
}
